{# Extiende de la plantilla base común del proyecto para heredar el diseño general #}
{% extends 'base.html' %}

{# Define el bloque del título específico para esta página del navegador #}
{% block title %}
Dashboard
{% endblock %}

{# Define el contenido principal que se inyectará en la plantilla base #}
{% block content %}
<h1 class="mb-4">
    Dashboard Alumno
</h1>

{# Contenedor principal de Bootstrap en formato de fila para organizar las tarjetas #}
<div class="row">

    {# Primera columna: Tarjeta para el contador total de matrículas #}
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>
                    Cursos Matriculados
                </h5>
                <h1>
                    {{ total_matriculas }}
                </h1>
            </div>
        </div>
    </div>

    {# Segunda columna: Tarjeta para el nombre del curso de la última matrícula #}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Última Matrícula</h5>
                <p>
                    {% if ultima_matricula %}
                    {{ ultima_matricula.curso.nombre }}
                    {% else %}
                    Sin datos
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    {# Tercera columna: Tarjeta para el nombre del próximo curso a comenzar #}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Próximo Curso</h5>
                <p>
                    {% if proximo_curso %}
                    {{ proximo_curso.nombre }}
                    {% else %}
                    Sin datos
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="card text-center">
            <div class="card-body">

                <h5>
                    Cursos Disponibles
                </h5>

                <h1>
                    {{ cursos_disponibles }}
                </h1>

            </div>
        </div>
    </div>

</div>

<hr>

<h3>
    Últimas Matrículas
</h3>

<ul class="list-group">

    {% for matricula in ultimas_matriculas %}

    <li class="list-group-item">
        {{ matricula.curso.nombre }}
    </li>

    {% empty %}

    <li class="list-group-item">
        No hay matrículas.
    </li>

    {% endfor %}

</ul>

{% endblock %}